<%= turbo_stream.replace "quantity-#{current_user.user_items.find_by(item: Item.find(params[:item_id])).id}" do %>
  <span id="quantity-<%= current_user.user_items.find_by(item: Item.find(params[:item_id])).id %>"><%= current_user.user_items.find_by(item: Item.find(params[:item_id])).quantity %></span>
<% end %>
