<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-dark-subtle bg-gradient">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <div class="d-flex flex-row">
      <a class="" href="#">
        <%= image_tag("logo.png", class: "img-fluid", style:"width: 80px; height: 60px") %>
      </a>
    </div>
    <div class="d-flex flex-row">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0 flex-row gap-3">
        <li class="nav-item">
          <%= link_to "Meus Items", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Lista de Compras", grocery_list_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Conexão Alexa</a>
        </li>
      </ul>
    </div>

    <!-- Right elements -->
    <div class="d-flex align-items-center">
      <!-- Notifications -->
      <a class="text-reset me-3" href="#" >
        <i class="fas fa-bell"></i>
      </a>
      <!-- Avatar -->
        <a class="d-flex align-items-center" href="#">
          <img
            src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
            class="rounded-circle"
            height="25"
            alt="Black and White Portrait of a Man"
            loading="lazy"
            />
        </a>
    </div>
    <!-- Right elements -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->